<head>
	<!-- Bootstrap Core CSS -->
    {% block stylesheets %}
    <link href="{{ asset('bundles/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('bundles/css/business-casual.css') }}" rel="stylesheet">
    {% endblock %}

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
</head>

{% for categoria in categorias %}
	<li>
		<a href="{{ path('categoria', {'nombre': categoria.categoria}) }}">
		{{ categoria.categoria }}</a>
	</li>
{% endfor %}